node_modules/
dist/
coverage/

.vite/
.cache/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.idea/
.vscode/

# Ignore outputs & templates
demo-templates/
out/
build/
